<div ng-init="aThirdProperty='data 3'">
    <p>My directive is using a template.</p>
    <div ng-repeat="datum in data">

        //
        <p>Name: {{ datum }} </p>
    </div>
    <div>
        <p>Data: {{  data  }}</p>

    </div>
</div>