<div ng-include="'views/navbar.html'"></div>

<div class="jumbotron">
  <h1>factornine</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Built using Yeoman.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>Directives</h4>
  <p>
    Looking at Angular directives.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>I'll add some testing too!</p>
</div>

<div class="footer">
  <p>♥ from factornine</p>
</div>
