<div ng-include="'views/navbar.html'"></div>
<p>This is the tweet view.</p>
<div>
    <h3>My Tweets</h3>
    <p ng-repeat="tweet in tweets track by $index">
        @{{tweet.author}}: {{tweet.text}}
    </p>
</div>
